__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
db.sqlite3
*.log
staticfiles/
media/__pycache__/
*.pyc
node_modules/
*.log
dist/
static/dist/
.DS_Store
venv/
*.pyc
__pycache__/
core/management/commands/rpscrape/racecards/*.json
core/management/commands/rpscrape/results/*.json
.env.env
db.sqlite3
scoreboard.json
output.json
debug.log