/* layout.css */
.main-container {
    display: flex;
    margin-left: var(--navbar-width);
    min-height: 100vh;
    background-color: #001f3f;
    width: auto;
    max-width: calc(100vw - var(--navbar-width) - var(--sidebar-width));
    position: relative;
    justify-content: center;
    overflow-x: hidden;
}

.content {
    flex: 0 0 650px;
    max-width: 650px;
    color: #001f3f;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
}